<h1>{{ type }}:</h1>
<h3>{{ title }}</h3>
{{ description }}

<div>
  <h3>Social Dances</h3>
  <p>Come on out for great evenings of dancing. If you're new to swing dancing
    we encourage you to take our 30 minute introductory lesson at 8pm. After
    that, join us for an evening of great music and fun in a low-pressure
    friendly atmosphere.
    What to expect: <a href="http://hartfordunderground.com/about/faq/"
       target="_blank"
       rel="noopener noreferrer nofollow">http://hartfordunderground.com/about/faq/</a></p>
</div>

<div>
  <h3>Location</h3>
  [sc name="LocationMap"]
</div>

<div>
  <h3>Intermediate/Advanced Guided Practice</h3>
  <p>For those of you who have consistently worked on your beginner
    fundamentals of Lindy Hop, we offer a guided practice session every
    Wednesday from 8pm-8:30pm (same time as our beginner lesson).</p>

  <p>These lessons are intended to be for intermediate dancers looking for
    additional material and practice. We guarantee that the material will be
    challenging such that it will take additional social dance practice to
    master.</p>

  <p>Just like your favorite coffee shop, we've introduced a Guided Practice
    rewards card to reward our dancers who come most often, because practice
    only helps when it is frequent and regular! Get your free Guided Practice
    Rewards Card with your first purchase of a Guided Practice, get your card
    stamped or punched by our instructors at each session, and after five
    lessons your sixth session AND the social dancing of the evening will be
    100% free! Enjoy the rewards of a committment to your dancing!</p>
</div>

<div>
  <img style="margin: auto; display: block;"
       class="wp-image-1024"
       alt="Guide_pract"
       src="http://hartfordunderground.com/wp-content/uploads/2019/01/guidedpracticepunchcard.png"
       width="375"
       height="235" />

  <a><strong>Cost</strong>: Intermediate Guided Lessons are now free.</a>
</div>

<h3>Order Here:</h3>
<!-- Begin EventBrite Dance Lessons -->

<!-- The PHP code below dynamically changes the form's url to the appropriate event -->
<?php
    // Set the default time zone and date format
    date_default_timezone_set("America/New_York");
    $date = date("m-d-Y");

    // Change the URL that we embed the form from based on if we're on or before a given week.
    // Get the current time
    $today = new DateTime();

    // Set the dates for the day right after meetings
    $week_datetime = new DateTime();
    $week_1 = $week_datetime->createFromFormat('m-d-Y', '{{ week_1 }}');
    $week_2 = $week_datetime->createFromFormat('m-d-Y', '{{ week_2 }}');
    $week_3 = $week_datetime->createFromFormat('m-d-Y', '{{ week_3 }}');
    $week_4 = $week_datetime->createFromFormat('m-d-Y', '{{ week_4 }}');

    $eids = array({{ list_of_eids }});
    $base_url = '//eventbrite.com/tickets-external?eid=%s&ref=etckt';

    if ($today < $week_1){
        $form_url = sprintf($base_url, $eids[0]);
    }
    else if ($today < $week_2){
        $form_url = sprintf($base_url, $eids[1]);
    }
    else if ($today < $week_3){
        $form_url = sprintf($base_url, $eids[2]);
    }
{% if num_eids == 4 %}
    else {
        $form_url = sprintf($base_url, $eids[3]);
    }
{% else %}
    else if ($today < $week_4){
        $form_url = sprintf($base_url, $eids[3]);
    }
    else {
        $form_url = sprintf($base_url, $eids[4]);
    }
{% endif %}
?>

<!-- End EventBrite Dance Lessons -->
<div class="container"
     style="position: relative;
            padding-bottom: 100%;
            padding-top: 35px;
            height: 0;
            overflow: hidden;">
  <div style="position: absolute;
       top:0;
       left: 0;
       width: 100%;
       height: 100%;"><iframe
            src="<?php echo $form_url; ?>"
            height="100%"
            width="100%"
            frameborder="0"
            marginwidth="5"
            scrolling="auto"></iframe>
  </div>
  <!-- End EventBrite Dance Lessons -->
</div>
